body {
background-color: coral;
background-image: radial-gradient
}
main {
width: 1500px;
margin-left:auto ;
margin-right:auto;
font-family: "Lilita One", sans-serif;
  font-weight: bold;
  font-style: normal;
}

header {
    text-align: center; 
    font-family: "Lilita One", sans-serif;
  font-weight: bold;
  font-style: normal;
}
nav {
    gap: 40px;
    display:flex;
    align-items: center;
    width: 100%
    text-align: center; 


    a {
        color: darkslategray;
    }

    A:hover {
        color: chocolate;
        transform: rotate(-5deg);
    }